beautifulsoup4==4.6.0
certifi==2017.11.5
chardet==3.0.4
dj-database-url==0.5.0
Django==2.0.3
docutils==0.14
fpdf==1.7.2
freeze==1.0.10
google-api-python-client==1.6.5
gTTS==1.2.2
gTTS-token==1.1.1
gunicorn==19.7.1
html5lib==1.0.1
httplib2==0.11.0
idna==2.6
lxml==4.1.1
numpy==1.14.2
oauth2client==4.1.2
opencv-python==3.4.0.12
Pillow==5.0.0
protobuf==3.1.0
psycopg2==2.7.4
py-translate==1.0.3
pyasn1==0.4.2
pyasn1-modules==0.2.1
Pygments==2.2.0
PyMySQL==0.8.0

pypng==0.0.18
pytz==2017.3
reportlab==3.4.0
requests==2.18.4
rsa==3.4.2
search-google==1.2.1
six==1.11.0
uritemplate==3.0.0
urllib3==1.22
webencodings==0.5.1
whitenoise==3.3.1
